body {
  width: 100%;
  height: 98vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(160deg, #0093e9 10%, #80d0c7 100%);
}
#canvas {
  border: 2px solid #000;
  border-radius: 8px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 40px;
}
h2 {
  text-align: center;
}
#wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 1250px;
  height: 790px;
  margin: auto;
}
.tools {
  width: 1000px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.all-color {
  margin-left: -45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 20px;
}
label {
  font-size: 20px;
  font-weight: 600;
}
.color {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #000;
}
.color-1 {
  background-color: rgb(255, 0, 0);
}.color-2 {
  background-color: rgb(0, 60, 255);
}.color-3 {
  background-color: rgb(47, 121, 77);
}.color-4 {
  background-color: rgb(255, 255, 255);
}.color-5 {
  background-color: rgb(255, 251, 0);
}.color-6 {
  background-color: rgb(240, 162, 220);
}
.fa-1x {
  color: rgb(90, 90, 90);
  position: relative;
  top: 5px;
  right: -5px;
  color: rgb(0, 0, 0);
}
a .fa-solid {
  color: rgb(29, 29, 29);
  margin-left: 10px;
}
a .fa-solid:hover {
  color: white;
}
.active {
  transform: scale(1.2);
}
.links {
  text-decoration: none;
}
.fa-brands:hover {
  color: white;
}
.fa-github-square {
  margin-left: -12px;
}
.link {
  margin-top: -30px;
  text-align: center;
}
h3 {
  text-align: center;
  margin-top: 5px;
}

@media (max-width:1250px) {
  #wrapper{
    width: 1000px;
  }
}
